.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.backButton:hover {
  color: var(--color-accent);
}

.title {
  font-size: 32px;
  margin: 21.44px 0 32px;
  color: var(--color-primary);
  text-align: center;
}

.profileIconContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.info {
  text-align: center;
  color: var(--color-text);
}

.name {
  font-weight: 700;
}

.email {
  font-weight: 300;
}

.banner {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-primary);
  color: var(--color-text-title);
  padding: 1rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.bannerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  text-align: center;
}

/* Adiciona a linha divisória sutil */
.bannerItem:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 15%;
  height: 70%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3); /* Linha branca com opacidade */
}

.bannerTitle {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 0.25rem;
}

.bannerValue {
  font-size: 16px;
  font-weight: 700;
}

.actionButtons {
  display: flex; /* 1. Transforma em um container flexível */
  flex-wrap: wrap; /* Permite que os botões quebrem a linha se não houver espaço */
  gap: 1rem; /* 2. Adiciona um espaço entre os botões */
  margin-top: 1.5rem;
}

.actionButton {
  flex-grow: 1; /* 3. Faz com que os botões cresçam para preencher o espaço */
  margin-top: 0 !important; /* Sobrescreve a margem do .cta-button */
  background-color: var(--color-card-background); /* Cor de fundo para os botões */
  color: var(--color-text); /* Cor do texto para os botões */
  border: 2px solid var(--color-border); /* Adiciona uma borda sutil */
}

.fullWidthButton {
  width: 100%; /* Faz este botão ocupar toda a largura da linha */
}