.container {
  position: relative; /* Torna este o contêiner de referência */
  margin: 0 auto; /* Centraliza o container na página */
}

/* Estilos para o botão de voltar */
.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.backButton:hover {
  color: var(--color-accent);
}

.title {
  font-size: 32px;
  margin-bottom: 1rem;
  color: var(--color-primary);
  text-align: center;
}

.description {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--color-text);
  text-align: center;
}

/* Estilos para a seção de resumo */
.summarySection {
  max-width: 600px; /* Define uma largura máxima para a seção de resumo */
  width: 100%;
  margin: 2rem auto 1.5rem auto; /* Centraliza a seção e adiciona margens verticais */
  margin-top: 2rem;
}

.summarySection h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.summaryItem {
  background-color: var(--color-card-background);
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.summaryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.summaryCategoryName {
  font-size: 1.1rem;
  font-weight: 600;
}

.summaryValues {
  font-size: 1rem;
  color: var(--color-text-secondary);
}

.dashboardButton {
  max-width: 600px; /* Mesma largura máxima da seção de resumo */
  margin: auto;
}