.contentWrapper {
  width: 100%;
  margin: 0 auto;
  /* O max-width é herdado do .main-content em globals.css, mas podemos ser explícitos se necessário */
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Ocupa uma boa parte da tela */
  gap: 1rem;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-text-secondary);
  border-bottom-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .expandableSectionsContainer {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* Impede que os itens se estiquem para ter a mesma altura */
  }
}