.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1; /* Permite que o formulário ocupe o espaço disponível */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup select {
  padding: 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--color-card-background); /* Fundo mais claro para inputs */
  color: var(--color-text);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(var(--color-primary-rgb), 0.2);
  outline: none;
}